.profile__page {
    position: relative;
    height: 1100px; // чтобы было удобнее, в макете размер намного больше
    display: flex;
    flex-direction: column;
    gap: 24px;
    .back {
        width: max-content;
        display: flex;
        align-items: center;
        margin: 20.5px 140px;
        gap: 8px;
        cursor: pointer;
        svg {
            width: 21px;
            height: 21px;
            fill: none;

            path {
                stroke: var(--color-02);
                stroke-width: 1.5px;
                stroke-linecap: round;
                stroke-linejoin: round;
            }
        }
        &__title {
            color: var(--color-02);
            font-size: 20px;
            font-weight: 600;
            line-height: 27.32px;
        }
    }
    .data {
        margin: 0 140px;
        display: grid;
        grid-template-columns: 360px auto;
        gap: 40px;

        &__settings {
            display: grid;
            padding: 40px;
            gap: 40px;
            border-radius: 16px;
            background-color: var(--color-06);
            .photo {
                width: 280px;
                height: 485px;
                border-radius: 8px;
                object-fit: cover;
            }
            .categories {
                .category {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 21.86px;
                    color: var(--color-03);
                    &.active {
                        font-weight: 600;
                        color: var(--color-01);
                    }
                    &:hover {
                        font-weight: 500;
                        color: var(--color-Accent);
                    }
                }
            }
        }

        &__profile {
            padding: 40px;
            gap: 24px;
            border-radius: 16px;
            background-color: var(--color-06);

            h1 {
                font-size: 24px;
                font-weight: 600;
                line-height: 32.78px;
            }

            .inputs {
                width: 420px;
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
            button {
                cursor: pointer;
                padding: 12px 42px;
                margin-top: 32px;
                color: var(--color-06);
                background-color: var(--color-01);
                border-radius: 50px;

                font-size: 16px;
                font-weight: 600;
                line-height: 21.86px;

                transition: all 0.3s;

                &:hover {
                    color: var(--color-02);
                    background-color: var(--color-05);
                }
            }
        }
    }
    .sep-line {
        margin-top: 12px;
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 376px) {
    .profile__page {
        gap: 20px;
        .back {
            gap: 4px;
            margin: 13px 16px;
            svg {
                width: 24px;
                height: 24px;
            }
            &__title {
                font-size: 16px;
                font-weight: 600;
                line-height: 21.86px;
            }
        }
        .data {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin: 0 16px;
            gap: 32px;
            &__settings {
                width: 343px;
                padding: 28px;
                gap: 24px;
                .photo {
                    width: 287px;
                    height: 187px;
                }
                .categories {
                    width: 287px;
                    .category {
                        font-size: 14px;
                        line-height: 19.12px;
                        &.active {
                            font-weight: 500;
                            color: var(--color-01);
                        }
                        &:hover {
                            color: var(--color-01);
                        }
                    }
                }
            }

            &__profile {
                padding: 28px;
                .inputs {
                    width: 287px;
                    gap: 20px;
                }
                button {
                    width: 100%;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 19.12px;
                    &:hover {
                        color: var(--color-06);
                        background-color: var(--color-01);
                    }
                }
                .sep-line {
                    margin-top: 16px;
                }
            }
        }
        .sep-line {
            margin-top: 8px;
            margin-bottom: 20px;
        }
    }
}
